* {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.encabezado {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 500px;
    border-bottom: 1px solid #ddd;
}

.informacion-encabezado {
    align-self: center;
}

.informacion-encabezado>h1 {
    color: #333;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.informacion-encabezado>p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.informacion-encabezado>button {
    background: rgb(245, 122, 77);
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: bolder;
    cursor: pointer;
}

.encabezado-imgen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.informacion_general{
    margin-top: 50px;
}

.cuadrado_general{
    display: grid;
    grid-template-columns: 2fr minmax(200px, 1fr);
    grid-template-rows: 300px;
 
}

.cuadrado_general img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cuadrado_general h1{
    text-align: center;
}
.cuadrado_general p{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    background: rgb(245, 122, 77);
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: bolder;
    cursor: pointer;
}